@model EditThor1.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "";
}

<<<<<<< HEAD
=======
<h2>@ViewBag.Title</h2>
>>>>>>> eb9588ce533a855472259478d1f001ccf9eac61e

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<<<<<<< HEAD
    <h2>@ViewBag.Title.</h2>
=======
    <h4>Change Password</h4>
>>>>>>> eb9588ce533a855472259478d1f001ccf9eac61e
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
<<<<<<< HEAD
        <div class="col-md-offset-6 col-md-6">
            <input type="submit" value="Change password" class="btn btn-default" />
=======
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Cancel", "Index", "Home", htmlAttributes: new { @class = "btn btn-default" })
>>>>>>> eb9588ce533a855472259478d1f001ccf9eac61e
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}