@model EditThor1.Models.ViewModels.ListProjectViewModel
@using Microsoft.AspNet.Identity
@{
    //ViewBag.Title = "Home Page";
}

<div class="row" id="main-content">
    <h2>@ViewBag.Title</h2>
    <div class="col-md-2">
        @Html.ActionLink("New project", "CreateProject", "Project", "Project", htmlAttributes: new { @class = "btn btn-default left-column", id = "small"  })<br/>
        <ul id="remove-margin">
            @if (@ViewBag.Title == "All Projects")
            {
                <li class="filter-list left-column active-item">@Html.ActionLink("All Projects", "Index", new { id = "" })</li>
            }
            else
            {
                <li class="filter-list left-column">@Html.ActionLink("All Projects", "Index", new { id = "" })</li>
            }
            @if (@ViewBag.Title == "My Projects")
            {
                <li class="filter-list left-column active-item">@Html.ActionLink("My projects", "Index", new { id = 1 })</li>
            }
            else
            {
                <li class="filter-list left-column">@Html.ActionLink("My projects", "Index", new { id = 1 })</li>
            }
            @if (@ViewBag.Title == "Shared with me")
            {
                <li class="filter-list left-column active-item">@Html.ActionLink("Shared with me", "Index", new { id = 2 })</li>
            }
            else
            {
                <li class="filter-list left-column">@Html.ActionLink("Shared with me", "Index", new { id = 2 })</li>
            }
        </ul>
    </div>
    <div class="col-md-10">
       <!-- <a class="btn custom-btn col-md-12" href="#"><span class="glyphicon glyphicon-plus"></span></a>-->
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-offset-1 col-md-4" style="text-align:left;"><h4>Project Name</h4></div>
                <div class="col-md-5" style="text-align:left;"><h4>Owner</h4></div>
            </div>

            @foreach (var item in Model.AllProject)
            {
                if (item.ownerID == User.Identity.GetUserId())
                {
                    <div class="lines">
                        <a class="btn col-md-10" href="~/Project/OpenEditor/@Html.DisplayFor(modelItem => item.ID)">
                            <div class="col-md-1"><span class="glyphicon glyphicon-folder-close"></span></div>
                                <div class="col-md-4 project-list" style="text-align:left;">@Html.DisplayFor(modelItem => item.name)</div>
                                    <div class="col-md-5 project-list" style="text-align:left;">@Html.DisplayFor(modelItem => item.ownerName)</div>
                        </a>
                        <div class="col-md-2 dropdown navbar-right project-list">
                            <a class="btn dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"> </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Share", "ShareProject", new { Controller = "Project", id = item.ID })</li>
                                <li>@Html.ActionLink("Download (.zip)", "Download", new { Controller = "Project", id = item.ID })</li>
                                <li name="delete">@Html.ActionLink("Delete", "DeleteProject", new { Controller = "Project", id = item.ID })</li>
                            </ul>
                        </div>
</div>
                }
                else
                {
                    <div class="lines">
                        <a class="btn col-md-10" href="~/Project/OpenEditor/@Html.DisplayFor(modelItem => item.ID)">
                            <div class="col-md-1"><span class="glyphicon glyphicon-folder-close"></span></div>
                                <div class="col-md-4 project-list" style="text-align:left;">@Html.DisplayFor(modelItem => item.name)</div>
                                    <div class="col-md-5 project-list" style="text-align:left;">@Html.DisplayFor(modelItem => item.ownerName)</div>
                        </a>
                        <div class="col-md-2 dropdown navbar-right">
                            <a class="btn dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"> </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Download (.zip)", "Download", new { Controller = "Project", id = item.ID })</li>
                                <li name="leave">@Html.ActionLink("Leave Project", "LeaveProject", new { Controller = "Project", projectID = item.ID })</li>
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>

   

       @* @Html.ActionLink("+", "CreateProject", "Project", "Project", htmlAttributes: new { @class = "btn custom-btn col-md-12", id = "large" })    *@   
    </div>
</div>
@section Scripts {
<script type="text/javascript">
    $(document).ready(function(){
        $("li[name='delete']").click(function() {
            return confirm('Are you sure you want to delete this project?');
        });
        $("li[name='leave']").click(function () {
            return confirm('Are you sure you want to leave this project?');
        });
    });
</script>
}
