@model EditThor1.Models.ViewModels.ListProjectViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row" id="main-content">
    <div class="col-md-2">
        <ul>
            <li><a class="btn custom-btn" href="#">All projects</a></li>
            <li><a class="btn custom-btn" href="#">My projects</a></li>
            <li><a class="btn custom-btn" href="#">Shared With me</a></li>
        </ul>
    </div>
    <div class="col-md-10">
       <!-- <a class="btn custom-btn col-md-12" href="#"><span class="glyphicon glyphicon-plus"></span></a>-->
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-5" style="text-align:left;"><h4>Project Name</h4></div>
                <div class="col-md-5" style="text-align:left;"><h4>Owner</h4></div>
            </div>

            @foreach (var item in Model.AllProject)
            {
                <a class="btn col-md-10 custom-btn" href="Project/OpenEditor/@Html.DisplayFor(modelItem => item.ID)">
                    <div class="col-md-5" style="text-align:left;">@Html.DisplayFor(modelItem => item.name)</div>
                    <div class="col-md-5" style="text-align:left;">@HttpContext.Current.User.Identity.Name</div>
                </a>
                <div class="col-md-2 dropdown navbar-right">
                    <a class="btn dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"> </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Invite", "ShareProject", new { Controller = "Project", id = item.ID })</li>
                        <li><a href="#">Download (.zip)</a></li>
                        <li>@Html.ActionLink("Delete", "DeleteProject", new { Controller = "Project", id = item.ID })</li>
                    </ul>
                </div>
            }
        </div>

       

        @Html.ActionLink("+", "CreateProject", "Project", "Project", htmlAttributes: new { @class = "btn custom-btn col-md-12", id = "large" })       
    </div>
</div>