@model EditThor1.Models.ViewModels.ThemeViewModel

@{
    ViewBag.Title = "Editor Themes";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2 style="margin-left:97px">Editor Themes</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div>
            <div class="col-md-3 col-sm-6">
                <p>Chaos</p>
                <img src="~/Images/theme/chaos.png" class="img-rounded" alt="chaos-theme" width="200" height="150" />
            </div>
            
            <div class="col-md-3  col-sm-6">
                <p>Monokai</p>
                <img src="~/Images/theme/monokai.png" class="img-rounded" alt="Monokai-theme" width="200" height="150" />
            </div>
            <div class="col-md-3 col-sm-6">
                <p>Twilight</p>
                <img src="~/Images/theme/twilight.png" class="img-rounded" alt="Twilight-theme" width="200" height="150" />
            </div>
            <div class="col-md-3 col-sm-6">
                <p>Solarized</p>
                <img src="~/Images/theme/sun_rise.png" class="img-rounded" alt="Solarized_light-theme" width="200" height="150" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ThemeID, htmlAttributes: new { @class = "control-label col-md-4", @style="margin-top:30px" })
            <div class="col-md-8" style="margin-top:30px">
                @Html.DropDownListFor(model => model.ThemeID, Model.ThemeList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ThemeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-4 col-sm-6 col-xs-4">
                @Html.ActionLink("Back", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
            <div class="col-md-offset-2 col-md-2 col-sm-4 col-sm-pull-2 col-xs-3 col-xs-pull-5" style="padding-left:42px">
                <input type="submit" value="Choose" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
