@model EditThor1.Models.ViewModels.ListFileViewModel
@using EditThor1.Controllers;
@{
    ViewBag.Title = "OpenEditor";
}


<h2>@ViewBag.ProjectName</h2>
<div class="row" id="editorContainer">

    <div class="col-md-2 cols," id="filecolumn">
            <ul id="filelist">
                @foreach (var item in Model.AllFiles)
                {
                    if (Model.fileId == item.ID)
                    {
                        <li class="active">@Html.ActionLink(item.name, "DisplayFile", new { id = item.ID, projectID = item.projectID })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(item.name, "DisplayFile", new { id = item.ID, projectID = item.projectID })</li>
                    }
                    //@Html.ActionLink("Edit Category 10", "Edit", "Categorys", new { area = "Admin", id = 10 }, null)

                }
            </ul>
            @Html.ActionLink("Create new File", "CreateFile", new { controller = "Project", @class = "btn custom-btn col-md-12", id = ViewBag.DocumentId })
        <div class="col-md-12 col-sm-6" >
            <h5>Users linked to project</h5>
            <ul>
                @foreach (string username in Model.Users)
                {
                    <li class="user">@username</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div id="editor">@ViewBag.code</div>
    </div>
</div>
@if (ViewBag.fileID != null)
{
    using (Html.BeginForm("Save", "Project", FormMethod.Post, new { id = "form1" }))
    {
        @Html.HiddenFor(m => m.Content, new { @id = "hidden_editor" })
        @Html.HiddenFor(m => m.fileId)
        @Html.HiddenFor(m => m.projectId)
        <input type="submit" value="SAVE MOTHERFUCKER" class="btn btn-success col-sm-6" />
    }
    using (Html.BeginForm("DeleteFile", "Project", FormMethod.Post, new { id = "form2" }))
    {
        @Html.HiddenFor(m => m.fileId)
        @Html.HiddenFor(m => m.projectId)
        <input type="submit" value="DELETE " class="btn btn-danger col-sm-6" />
    }
}


@section scripts
{
<script src="@Url.Content("~/Scripts/ace-builds-master/ace-builds-master/src-noconflict/ace.js")"></script>
<script src='jquery/jquery.js' type="text/javascript"></script>
<script src='jquery/jquery-ui.custom.js' type="text/javascript"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/signalr/hubs"></script>
<script>


    var documentID = @ViewBag.DocumentID;
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/@Model.filetype");
    editor.setOption("firstLineNumber", 1)



    $("#form1").submit(function() {
        $("#hidden_editor").val(editor.getSession().getValue());
    });

    var codeHub = $.connection.codeHub;
    var silent = false;

    codeHub.client.onChange = function (changeData) {
        console.log(changeData);

        silent = true;
        editor.getSession().getDocument().applyDelta(changeData);
        silent = false;
    };

    $.connection.hub.start().done(function () {

        codeHub.server.joinDocument(documentID);

        editor.on("change", function (obj) {
            if (silent)
            {
                return;
            }
            console.log(obj);
            codeHub.server.onChange(obj, documentID);
        });
    });



</script>
}


