@model EditThor1.Models.ViewModels.ListFileViewModel
@using EditThor1.Controllers;
@{
    ViewBag.Title = "OpenEditor";
}


@using (Html.BeginForm("Save", "Project", FormMethod.Post, new {id = "form1", projectID = Model.AllFiles[0].projectID }))
{
    @Html.HiddenFor(m => m.Content, new { @id = "hidden_editor" })
    <input type="submit" value="Save code" />
}
<div class="row">
    <div class="col-md-3" id="filecolumn">
        <div>
            <ul id="filelist">
                @foreach (var item in Model.AllFiles)
                {
                    <li class="active">@Html.ActionLink(item.name, "DisplayFile", new { id = item.ID, projectID = item.projectID })</li>
                    //@Html.ActionLink("Edit Category 10", "Edit", "Categorys", new { area = "Admin", id = 10 }, null)

                }
            </ul>
        </div>
      @Html.ActionLink("+", "CreateFile", "Project", htmlAttributes: new { @class = "btn custom-btn col-md-12", id = "large" })*@
    </div>
    <div id="editor" class="col-md-9">
        @ViewBag.code
    </div>

</div>


@section scripts
{
<script src="@Url.Content("~/Scripts/ace-builds-master/ace-builds-master/src-noconflict/ace.js")"></script>
<script src='jquery/jquery.js' type="text/javascript"></script>
<script src='jquery/jquery-ui.custom.js' type="text/javascript"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setMode("ace/mode/html");


    $("#form1").submit(function() {
        $("#hidden_editor").val(editor.getSession().getValue());
        console.log("asdasdasd");
    });

</script>
}


